@media (min-width: 48em) {
    .masthead-title a::before {
        content: "" / "Azaleas Project logo";
        display: inline-block;
        width: 1.8rem; 
        height: 1.8rem;
        background-image: url('/icon-192.png');
        background-size: contain;
        background-repeat: no-repeat;
        margin-right: 10px;
        vertical-align: text-top;
        white-space: pre-wrap;
    }
}

.masthead small, h1, h2, h3, h4, h5, h6 {
    font-family: palatino linotype,book antiqua,Palatino,serif;
}

header a, main a {
    text-decoration: underline;
}

ruby {
    ruby-position: over;
}

